<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>MakeName</th>
      <th>DetailNum</th>
      <th>DetailName</th>
      <th>WeightKG</th>
      <th>VolumeKG</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Shell</td>
      <td>0W404LTRHELIXULTRA</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Shell</td>
      <td>10W40HELIXHX7209LTR</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Shell</td>
      <td>10W40HELIXHX74LTR</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Shell</td>
      <td>15W40RIMULA4LTR</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Shell</td>
      <td>20W501LTRHELIXHX5</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Shell</td>
      <td>20W50RIMULA5LTR</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Shell</td>
      <td>550055735</td>
      <td>ENGINE OIL</td>
      <td>0.981</td>
      <td>0.001</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Shell</td>
      <td>5W404LTRHELIXHX8</td>
      <td>NaN</td>
      <td>0.000</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Shell</td>
      <td>S2V2202</td>
      <td>SEALANT</td>
      <td>0.506</td>
      <td>0.000</td>
    </tr>
    <tr>
      <th>9</th>
      <td>FA1</td>
      <td>180936</td>
      <td>GASKET, INLET MANIFOLD METAL</td>
      <td>0.017</td>
      <td>0.045</td>
    </tr>
  </tbody>
</table>