<head>
  <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
  
  </head>


  <body>
    <div class="max-w-2xl mb-6 py-20 mx-auto">

{% block content %}



<div style="display:block;">
<a href="{% url 'bd-create' %}" class="text-indigo-600 hover:text-indigo-900 pb-5"> Создать Базу </a>

<strong>тут:  {{ test }} </strong>
</div>







{% endblock %}
</div>
</body>