{% extends "base.html" %}
{% block content %}
{% load tailwind_filters %}

{% load crispy_forms_tags %}

<script>

$(document).ready(function() {
    $('#example').DataTable();

     $('.dataTables_filter input[type="search"]')
        .attr('placeholder','  Поиск...');
    
});

    $(document).ready(function() {
        $('#example2').DataTable();
          });

    $(document).ready(function() {
        $('#example4').DataTable();
          });

</script>


<div class="flex flex-wrap -m-4">
    
    <div class="p-4 md:w-2/3">

        <div class="flex mb-4">
            <a  class="flex-grow text-black-500 border-b-2 border-black-500 py-2 text-lg px-1">Прайсы</a>
           
        </div>

        <!--------- прайсы --------->
        <div id="progress-box" class="h-1 w-full bg-neutral-200 dark:bg-neutral-600 not-visible"></div>

        <div class="w-full mb-6 py-6  justify-between items-left  border-gray-200">
            <table id="example4" class="table table-striped display nowrap " style="width:100%;">
                <thead>
                    <tr>
                        <th>Прайсы</th>
                        <th>бренд</th>
                        <th>валюта</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr id="rowID" class="post-{{file.pk}}">
                        <td class="text-center"> {{ file.files }} </td>
                        <td class="text-center"> {{ file.brend_field }} </td> 
                        <td class="text-center"> {{ file.currency_field }} </td>                

                        <td class="text-center">
                            {% csrf_token %}
                            <button type="button"  class="delete_price" data-id="{{ file.pk }}" > 
                                <svg width="22" height="22" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 15H40L37 44H11L8 15Z" fill="#EB5757" stroke="#1D1D1D" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M20.002 25.0024V35.0026M28.0024 24.9995V34.9972" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 14.9999L28.3242 3L36 15" stroke="#1D1D1D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                               
                            
                            
                            </button>
                        </td>

                        <td class="text-center">
                            {% csrf_token %}
                            <a href="{% url 'create-price' file.pk %}" class="inline-flex items-center">
                                <img alt="blog" src="https://svgshare.com/i/szx.svg" class="w-8 h-8 rounded-full flex-shrink-0 object-cover object-center">
                                <span class="flex-grow flex flex-col pl-3">
                                  <span class="title-font font-medium text-gray-900">Сформировать</span>
                                </span>
                            </a>
                        </td>

                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                    <tr>
                        <th></th> 
                        <th></th>  
                        <th></th>
                        <th></th>
                        <th></th>


                    </tr>        
                </tfoot>
            </table>
        </div>

        <div style="display:flex;align-items:end;">
        <form id="price-forms" enctype="multipart/form-data" >
            {%csrf_token%}
            <span id='inline-form'>  
        {{ form_files.brend_field|as_crispy_field }}
        {{ form_files.currency_field |as_crispy_field }}
        {{ form_files.files|as_crispy_field }}
        </span> 
        <!-- {% crispy form_files %} -->

        <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform2"> Добавить прайс</button> 
        </form>

        {% if lenPrice %}
            <a id ='bdcreatebutton' href="{% url 'bd-create' %}" class="inline-flex text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg" style="height:50px;"> Обновить БД </a>
        {% endif %}

    </div>
       <!---- ------- конец прайсов------------------------ -->

       <div class="p-4 md:w-1/3">
 
    
</div>

    </div>


    <div class="p-4 md:w-1/3">
        <div class="flex mb-4">
            <a id = 'brands_tab' class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">Бренды</a>
            <a id = 'words_tab' class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">Стоп слова</a>

        </div>

            <!---- бренды -->
            <div id = 'brands_table' class=" mb-6 py-6  justify-between items-left  border-gray-200" >
                <table id="example2" class="table table-striped display nowrap " >
                    <thead>
                        <tr>
                            <th>бренды</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for brand in brands %}
                        <tr class="post-{{brand.pk}}">
                            <td class="text-center"> {{ brand.brand }} </td>
                            <td class="text-center">
                            {% csrf_token %}
                            <button type="button"  class="delete_buttonbr" data-id="{{ brand.pk }}" > 
                            
                                <svg width="22" height="22" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 15H40L37 44H11L8 15Z" fill="#EB5757" stroke="#1D1D1D" stroke-width="3" stroke-linejoin="round"/>
                                    <path d="M20.002 25.0024V35.0026M28.0024 24.9995V34.9972" stroke="#E0E0E0" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 14.9999L28.3242 3L36 15" stroke="#1D1D1D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                    
                            
                            </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th><th> </th>
                        </tr>       
                    </tfoot>
                </table>
                    <form id="brand-form" >
                        {%csrf_token%}
                        
                        {{ form_brands.brand|as_crispy_field }}
                    
                        <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform3"> Добавить бренд</button>
                    </form>
            </div>
            <!---- конец брендов -->

            <!---- стоп слова -->
                <div id = 'words_table' class="mb-6 py-6  justify-between items-left  border-gray-200 hidden">
                    <table id="example" class="table table-striped display nowrap" style="width:100%;">
                        <thead>
                            <tr>
                                <th>стоп слова</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for word in words %}
                            <tr class="post-{{word.id}}">
                                <td class="text-center"> {{ word.words }} </td>
                                <td class="text-center">
                                {% csrf_token %}
                                    <button type="button"  class="delete_words" data-id="{{ word.pk }}" > 
                                        
                                        <svg width="22" height="22" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 15H40L37 44H11L8 15Z" fill="#EB5757" stroke="#1D1D1D" stroke-width="3" stroke-linejoin="round"/>
                                            <path d="M20.002 25.0024V35.0026M28.0024 24.9995V34.9972M12 14.9999L28.3242 3L36 15" stroke="#1D1D1D" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                            
                                    
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
        
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th><th> </th>
                            </tr>       
                        </tfoot>
                    </table>
                        <form id='stopwords-form'>
                            {%csrf_token%}
                            
                            {{ form_words|crispy }}
                        
                            <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform1"> Добавить название</button>
                        </form>
                </div>
                <!---- конец стоп слов -->

    </div>

</div>

    <div class="flex flex-wrap -m-4">
    
        <div class="p-4 md:w-full">
    
            <div class="flex mb-4">
                <a  class="flex-grow text-black-500 border-b-2 border-black-500 py-2 text-lg px-1">База данных {{notation}} (<strong>{{len}} строк</strong>)</a>
               
            </div>
    
            <!--------- БД> --------->
            
            <div class="basic">
                {% include "search_results.html" %}
            </div>

           <!---- ------- конец БД------------------------ -->
        </div>
    
    
        
    </div>


    {% endblock content%}
















