
<head>
<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

</head>


<script>

$(document).ready(function() {
    $('#example,#example2').DataTable();
} );
</script>

{% block content %}
{% load tailwind_filters %}
  <!--<form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" multiple name="image_file">
    <label for="msg">Добавить файлы</label>
  
    <button type="Submit" class="w-full bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white"> Добавить</button>
    <input type="submit" value="submit" />
  </form> 

  {% if image_url %}
    <p>File uploaded at: <a href="{{ image_url }}">{{ image_url }}</a></p>
    <p>файлы:{{ arr }}</p>
    
  {% endif %}-->

<body>
  <div class="max-w-7xl mx-auto">
  <div class="max-w-xl mb-6 py-6  justify-between items-left  border-gray-200">
    <table id="example" class="table table-striped display nowrap " style="width:100%;">
        <thead>
            <tr>
                <th>стоп слова</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for word in words %}
            <tr>
                <td class="text-center"> {{ word.words }} </td>
                <td class="text-center">
                    <a href="{% url 'delete-words' word.pk %}" class="text-indigo-600 hover:text-indigo-900 pb-5">  
                        <span class="pb-5 mb-5 flex-inline text-blue-500 hover:text-blue-800">Удалить</span> 
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Всего {{ len }}</th><th> </th>
            </tr>       
        </tfoot>
    </table>
    <form method="post" >
      {%csrf_token%}
      
      {{ form_words|crispy }}
    
      <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform1"> Добавить слово</button>
    </form>
</div>

<!---- конец стоп слов -->






  <div class="w-full mb-6 py-6  justify-between items-left  border-gray-200">
    <table id="example2" class="table table-striped display nowrap " style="width:100%;">
        <thead>
            <tr>
                <th>файлы</th>
                <th>номер</th>
                <th>бренд</th>
                <th>название</th>
                <th>вес</th>
                <th>объем</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td class="text-center"> {{ file.files }} </td>
                <td class="text-center"> {{ file.oem_field }} </td>
                <td class="text-center"> {{ file.brend_field }} </td>                
                <td class="text-center"> {{ file.name_field }} </td>
                <td class="text-center"> {{ file.weight_field }} </td>
                <td class="text-center"> {{ file.volume_field }} </td>
                <td class="text-center">
                    <a href="{% url 'delete-file' file.id %}" class="text-indigo-600 hover:text-indigo-900 pb-5">  
                        <span class="pb-5 mb-5 flex-inline text-blue-500 hover:text-blue-800">Удалить</span> 
                    </a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Всего {{ len }}</th> 
                <th></th>  
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>        
        </tfoot>
    </table>
</div>

<form method="post" enctype="multipart/form-data">
  {%csrf_token%}
  
  
  {{ form_files.files}}


   <input type="submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" value="Добавить прайс" name="btnform2">
</form>

<div> {{ frame| safe }}</div>

{% endblock content%}
</div> 
</body>