{% load static %}

<head>
<link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="{% static 'jquery.cookie.js' %}"></script>

<link href="{% static 'style.css' %}" rel="stylesheet">


<!-- <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script> -->

<script src="{% static 'main.js' %}"></script>


</head>


<script>

$(document).ready(function() {
    $('#example').DataTable();

     $('.dataTables_filter input[type="search"]')
        .attr('placeholder','  Поиск...');
    
});

    $(document).ready(function() {
        $('#example2').DataTable();
          });

    $(document).ready(function() {
        $('#example4').DataTable();
          });


    </script>

{% block content %}
{% load tailwind_filters %}

<body>


<div class="container px-5 py-24 mx-auto flex flex-wrap">
  <div class="w-full flex justify-between">


       <!---- стоп слова -->
        <div class="lg:w-1/4 mb-6 py-6  justify-between items-left  border-gray-200">
          <table id="example" class="table table-striped display nowrap " style="width:100%;">
              <thead>
                  <tr>
                      <th>стоп слова</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for word in words %}
                  <tr class="post-{{word.id}}">
                      <td class="text-center"> {{ word.words }} </td>
                      <td class="text-center">
                        {% csrf_token %}
                          <button type="button"  class="delete_words" data-id="{{ word.pk }}" > Удалить </button>
                      </td>
                  </tr>
              {% endfor %}

              </tbody>
              <tfoot>
                  <tr>
                      <th>Всего {{ len }}</th><th> </th>
                  </tr>       
              </tfoot>
          </table>
                <form id='stopwords-form'>
                  {%csrf_token%}
                  
                  {{ form_words|crispy }}
                
                  <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform1"> Добавить стоп слово</button>
                </form>
      </div>
      <!---- конец стоп слов -->

             <!---- бренды -->
             <div class="lg:w-1/3 mb-6 py-6  justify-between items-left  border-gray-200">
              <table id="example2" class="table table-striped display nowrap " style="width:50%;">
                  <thead>
                      <tr>
                          <th>бренды</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for brand in brands %}
                      <tr class="post-{{brand.pk}}">
                          <td class="text-center"> {{ brand.brand }} </td>
                          <td class="text-center">
                            {% csrf_token %}
                            <button type="button"  class="delete_buttonbr" data-id="{{ brand.pk }}" > Удалить </button>
                          </td>
                      </tr>
                  {% endfor %}
    
                  </tbody>
                  <tfoot>
                      <tr>
                          <th>Всего {{ len }}</th><th> </th>
                      </tr>       
                  </tfoot>
              </table>
                    <form id="brand-form" >
                      {%csrf_token%}
                      
                      {{ form_brands.brand|as_crispy_field }}
                    
                      <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform3"> Добавить бренд</button>
                    </form>
          </div>
          <!---- конец брендов -->


    </div>


       <div id="progress-box" class="h-1 w-full bg-neutral-200 dark:bg-neutral-600 not-visible"></div>

  <div class="w-full mb-6 py-6  justify-between items-left  border-gray-200">
    <table id="example4" class="table table-striped display nowrap " style="width:100%;">
        <thead>
            <tr>
                <th>файлы</th>
                <th>бренд</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr class="post-{{file.pk}}">
                <td class="text-center"> {{ file.files }} </td>
                <td class="text-center"> {{ file.brend_field }} </td>                

                <td class="text-center">
                    {% csrf_token %}
                    <button type="button"  class="delete_price" data-id="{{ file.pk }}" > Удалить </button>
                </td>
            </tr>
        {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <th>Всего {{ len }}</th> 
                <th></th>  
                <th></th>


            </tr>        
        </tfoot>
    </table>
</div>

<form id="price-forms" enctype="multipart/form-data" >
    {%csrf_token%}
    
  {{ form_files.brend_field|as_crispy_field }}
  {{ form_files.files|as_crispy_field }}
  <button type="Submit" class=" bg-blue-500 hover:bg-blue-600 px-3 py-3 mt-7 text-white rounded-md color-white" name="btnform2"> Добавить прайс</button>
</form>

       <!---- ------- конец прайсов------------------------ -->

<div style="display:block;">
<a href="{% url 'bd-create' %}" class="text-indigo-600 hover:text-indigo-900 pb-5"> Создать Базу </a>

</div>

<div class="basic">
    {% include "search_results.html" %}
</div>




</div> </div> 

{% endblock content%}


</body>